<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body>
    <%- include ("../partials/header") %>
    <div class="Titulares">
        <h1 id="titulo">Encontrá y vendé de todo para el automotor. </h1>
    </div>
    <div class="sliderdoble">
        <ul class="lista">
            <li><img src="../slider doble/1.jpeg"><img src="../slider doble/2.jpeg"></li>
            <li><img src="../slider doble/3.jpeg"><img src="../slider doble/4.jpeg"></li>
            <li><img src="../slider doble/5.jpeg"><img src="../slider doble/6.jpeg"></li>
            <li><img src="../slider doble/7.jpeg"><img src="../slider doble/8.jpeg"></li>
            <li><img src="../slider doble/9.jpeg"><img src="../slider doble/10.jpg"></li>
        </ul>
    </div>
    <br>
    <%- include ("../partials/footer") %>
</body>
</html>