<footer class="data">
    <div class="data-item nombre">
        <p><strong>Online Tuning</strong></p> <br>
    </div>
    <div class="data-item email">
        <p><strong>E-mail:</strong> <br>
        nacho1054@hotmail.com</p>
    </div>
    <div class="data-item tel">
        <p><strong>Atención cliente:</strong> <br>
        0341 444-9999</p>
    </div>
</footer>