<title>OnlineTuning</title>
<link rel="shortcut icon" href="../favicon2.png">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="accesorio, auto, rosario, led, funda">
<meta name="description" content="OnlineTuning es una plataforma de e-comerce, 
orientado a la venta de accesorios y repuestos para vehiculos.">
<meta name="author" content="Ignacio Martinez">
<meta name="robots" content="index">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../css/estilo.css">
<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/4d9d0fbf38.js" crossorigin="anonymous"></script>
<script defer src="../js/index.js"></script>
<script src="https://kit.fontawesome.com/4d9d0fbf38.js" crossorigin="anonymous"></script>