<header class="Header">
    <nav class="Nav">
        <img src="../OnlineTuning.png" title="Oroño Tuning Car" class="Logo">
        <button class="Nav-desp">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="Nav-menu">
            <li class="Nav-menu-item"><a href="/home" class="Nav-menu-link">Inicio</a></li>
            <li class="Nav-menu-item"><a href="/products" class="Nav-menu-link">Productos</a></li>
            <li class="Nav-menu-item"><a href="/register" class="Nav-menu-link">Registro</a></li>
            <li class="Nav-menu-item"><a href="/venta" class="Nav-menu-link">Vender</a></li>
        </ul>
    </nav>
</header>
<hr id="separadorNav">